{% extends 'base.html.twig' %}

{% block title %}Блог для айтишников{% endblock %}

{% block body %}
    <main>
        <div class="main">
            <div class="container">
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
                <div class="container-item">
                    <div class="item-img">
                        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1000&q=80" alt="">
                    </div>
                    <div class="item-title">
                        <h2>title</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
