{% extends 'base.html.twig' %}

{% block title %}Панель автора{% endblock %}

{% block body %}
    <main>
        <div class="main">
            <h1 class="main-header c-t-black">ПАНЕЛЬ АВТОРА</h1>
            <div class="main-container">
                <nav class="container-nav">
                    <ul>
                        <li>
                            <a href="{{ path('author.post_new') }}"><i class="fal fa-plus-square"></i> Новая статья</a>
                        </li>
                    </ul>
                </nav>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ЗАГОЛОВОК</th>
                            <th>ДАТА СОЗДАНИЯ</th>
                            <th>ДАТА РЕДАКТИРОВАНИЯ</th>
                            <th>META</th>
                            <th>СТАТУС</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td>Рекуррентные нейронные сети (RNN) с Keras</td>
                            <td>10-10-2019 19:00</td>
                            <td>11-10-2019 21:00</td>
                            <td>
                                <ul>
                                    <li class="badge c-bg-purple f-s-08">
                                        <span>30 <i class="fal fa-eye"></i></span>
                                    </li>
                                    <li class="badge c-bg-purple f-s-08">
                                        <span>5 <i class="fal fa-comments-alt"></i></span>
                                    </li>
                                    <li class="badge c-bg-purple f-s-08">
                                        <span>10 <i class="fal fa-thumbs-up"></i></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <span class="c-t-turquoise f-s-08">АКТИВЕН</span>
                            </td>
                            <td>
                                <ul>
                                    <li class="badge c-bg-orange f-s-08">
                                        <a href=""><i class="fal fa-edit"></i> Edit</a>
                                    </li>
                                    <li class="badge c-bg-red f-s-08">
                                        <a href=""><i class="fal fa-trash"></i> Remove</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
