{% extends 'base.html.twig' %}

{% block title %}Блог для айтишников{% endblock %}

{% block body %}
    <main>
        <div class="main">
            <div class="container">

            </div>
        </div>
    </main>
{% endblock %}
