<aside>
    <nav class="main-nav">
        <ul>
            <li class="logo-text"><a href="/">DEV_</a></li>
            <li>
                <a href="/"><i class="fal fa-globe"></i><span>WEB</span></a>
            </li>
            <li>
                <a href="/"><i class="fal fa-function"></i><span>MATHS</span></a>
            </li>
            <li>
                <a href="/"><i class="fal fa-atom"></i><span>SCIENCE</span></a>
            </li>
            <li class="nav-separator"></li>
            <li>
                <a href="/"><i class="fal fa-sign-in"></i><span>Sign In</span></a>
            </li>
            <li>
                <a href="/"><i class="fal fa-user-plus"></i><span>Sign Up</span></a>
            </li>

            <!-- NAV AUTH USER -->
            <li>
                <a href="/"><i class="fal fa-user"></i><span>User</span></a>
            </li>
            <li>
                <a href="/"><i class="fal fa-sign-out"></i><span>Sign Out</span></a>
            </li>
        </ul>
    </nav>
</aside>